<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Home Page"</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Science of Science</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/Home/index/">Conferences</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Home/author/">Author</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <form action="/Home/getauthordetails/" style="width:50%;margin-left:auto;margin-right:auto;margin-top:5%;">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Enter Author Name</label>
        <input type="text" name = "author_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div style="width:50%; margin-top : 1%;" class = "mx-auto">
    {% if affiliation %}

        <img class="img-thumbnail" src = "{{url_picture}}" alt="no image"/>
        <br>
        <label class="form-label">Author Name: <span>{{name}}</span></label><br>
        <label class="form-label">Affiliation: <span>{{affiliation}}</span></label><br>
        <label class="form-label">Cited by: <span>{{citedby}}</span></label><br>
        <label class="form-label">Container type: <span>{{container_type}}</span></label><br>
        <label class="form-label">Email domain: <span>{{email_domain}}</span></label><br>
        <label class="form-label">Interests: <span>{{interests}}</span></label><br>
        <label class="form-label">Scholar_id: <span>{{scholar_id}}</span></label><br>

    {% endif %}
    </div>
</body>
</html>